<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Java-CDO -->
      <package
            uri="http://www.eclipse.org/MoDisco/Java/0.2.incubation/java-CDO"
            class="org.eclipse.gmt.modisco.java.cdo.java.JavaPackage"
            genModel="model/Java-CDO.genmodel"/>
   </extension>

</plugin>
