<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.packtpub.e4.minimark.ui.MinimarkEditor"
            default="false"
            extensions="minimark"
            id="com.packtub.e4.minimark.ui.minimarkeditor"
            name="Minimark">
      </editor>
   </extension>
   <extension
         id="MinimarkBuilder"
         name="Minimark Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="false"
            isConfigurable="false"
            supportsConfigurations="false">
         <run
               class="com.packtpub.e4.minimark.ui.MinimarkBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="MinimarkNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.packtpub.e4.minimark.ui.MinimarkNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.packtpub.e4.minimark.ui.AddMinimarkNature"
            id="com.packtpub.e4.minimark.ui.AddMinimarkNature"
            name="Add Minimark Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="com.packtpub.e4.minimark.ui.AddMinimarkNature"
               label="Add Minimark Nature"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                     <iterate ifEmpty="false">
                     <not><test property="org.eclipse.core.resources.projectNature"
                     value="com.packtpub.e4.minimark.ui.MinimarkNature" /></not>
                     </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
